@using biletcoo.ViewModel;
@model ChangePasswordViewModel;
@{
    ViewData["Title"] = "Forget Password Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=,, initial-scale=1.0">
    <meta name="description" content="A template project for HTML CSS" />
    <meta name="author" content="Emir Sapmaz" />
    <title>Biletco</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <a asp-controller="Home" asp-action="Index"><h1>Biletco</h1></a>
        <div class="right-header">
            <ul>
                <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                <li><a asp-controller="Account" asp-action="Register">Register</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <form id="loginForm" method="post" asp-action="forgetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-wrap">
                <label asp-for="email">Email</label>
                <input style="padding-right: 40px"
                       type="email"
                       id="email"
                       asp-for="email"
                       placeholder="Enter your email"
                       required />
                <i class="fa-solid fa-envelope"></i>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <div class="input-wrap">
                <label asp-for="NewPassword">New password</label>
                <input style="padding-right: 40px"
                       type="password"
                       id="password"
                       asp-for="NewPassword"
                       placeholder="Enter your new password"
                       required />
                <i class="fa-solid fa-lock"></i>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <br /><br />
            <button class="pulse" type="submit">Change password</button>
        </form>
    </div>


    <div id="forgetModal" class="modal">
        <div class="modal-content">
            <h2 id="popupMessage" style="color: green;"></h2>
            <span style="cursor:pointer" id="closeBtn">&times;</span>

        </div>
    </div>

    <script>
        
        function showModal(message) {
            const modal = document.getElementById('forgetModal');
            const messageSpan = document.getElementById('popupMessage');
            if (messageSpan) {
                messageSpan.textContent = message;
            }
            modal.style.display = 'block';
        }

        
        function closeModal() {
            const modal = document.getElementById('forgetModal');
            modal.style.display = 'none';       
            window.location.href = '@Url.Action("Index", "Home")';
        }

        const closeBtn = document.getElementById('closeBtn');
        if (closeBtn) {
            closeBtn.addEventListener('click', closeModal);
        }
    </script>

    @if (TempData["ShowForgetPopup"] != null && (bool)TempData["ShowForgetPopup"])
    {
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                showModal("@TempData["PopupMessage"]");
            });
        </script>
    }
   
</body>
</html>